@model Worlds.Travel.Web.Models.ComeTo.ComeToAreaViewModel
@{
    ViewBag.Title = "选择降临时间";
}



@if (Model.IsOpenAreas)
{
    <form id="form-login" class="p-t-15" action="@Url.Action("ComeToArea", "ComeTo")" , method="POST">
        选择区域
        <select name="areaKeyName">
            @foreach (var area in Model.Areas)
            {
                <option value="@area.Key">@area.Name</option>
            }
        </select>
        <button class="btn btn-primary btn-cons m-t-10" type="submit">降临</button>
    </form>
}
@if (Model.IsOpenArchitectures)
{
    <form id="form-login" class="p-t-15" action="@Url.Action("ComeToArchitecture", "ComeTo")" , method="POST">
        选择建筑
        <select name="keyName">
            @foreach (var item in Model.Architectures)
            {
                <option value="@item.Key">@item.Name</option>
            }
        </select>
        <button class="btn btn-primary btn-cons m-t-10" type="submit">降临</button>
    </form>
}
@if (Model.IsOpenRoads)
{
    <form id="form-login" class="p-t-15" action="@Url.Action("ComeToRoad", "ComeTo")" , method="POST">
        选择道路
        <select name="keyName">
            @foreach (var item in Model.Roads)
            {
                <option value="@item.Key">@item.Name</option>
            }
        </select>
        <button class="btn btn-primary btn-cons m-t-10" type="submit">降临</button>
    </form>
}
